@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  /* ブラウザーのデフォルトの文字サイズ(16px)やユーザーが設定した文字サイズが正しく反映される */
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  /* 行の高さ */
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  /* 画像が親要素よりも大きくなることを防ぐ */
  max-width: 100%;
}

.wrapper {
  /* 画面中央に寄せる */
  max-width: 980px;
  margin: 0 auto;
  padding: 0 4%;
}

.sm-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
}

/* 文字の太さ */
.fw-bold {
  font-weight: bold;
}

/*---------------- ホーム -------------*/
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.page-header img {
  width: 180px;
  height: 40px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.page-nav li {
  margin-left: 20px;
}

.page-nav li a {
  color: #333333;
  text-decoration: none;
}

.home-image {
  background-image: url(../images/austin-distel-wawEfYdpkag-unsplash.png);
  min-height: 50vh;
}

.home-content {
  color: #ffffff;
  text-align: center;
  padding-top: 254px;
}

.home-content h1 {
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.home-content a {
  text-decoration: none;
  color: #ffffff;
}

/*-------------- 記事 --------------*/
main .wrapper {
  margin: 60px auto 88px auto;
  text-align: center;
}

.articles-title {
  font-size: 2rem;
  margin-bottom: 50px;
}

.page-articles {
  display: flex;
  justify-content: space-between;
}

.page-articles article {
  width: 32%;
  box-shadow: 0px 3px 6px #00000029;
  height: 336px;
  position: relative;
}

.article-heading {
  font-size: 1.125rem;
  padding: 10px 18px 30px 18px;
  text-align: left;
}

.article-date {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* ボタン */
.more-article-button {
  margin-top: 40px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 310px;
  height: 50px;
  background-color: #ffffff;
  font-size: 1.125rem;
}

/*---------------------- フッター ----------------------*/
.page-contact {
  background-image: url(../images/tim-bogdanov-4uojMEdcwI8-unsplash.png);
  min-height: 40vh;
  color: #ffffff;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  padding: 60px 0 47px 0;
}

.contact-button {
  margin-top: 40px;
  background-color: #83032a;
  padding: 10px 20px;
  color: #ffffff;
}

.copyright {
  font-size: 0.875rem;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 32px 0;
}
